<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>New menu item</title>
  </head>
    <body>

    <h1>New Menu Item</h1>

    <div>

    <form action="{{url_for( 'newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST'>

        <p>Name:</p>
        
        <input type='text' size='30' name='name'>
        
        <p>Description:</p>
        
        <input type='text' size='80' name='description'>
        
        <p>Price:</p>
        
        <input type='text' size ='8' name='price'>
        
        <input type='submit' value='Create'>
        
    </form>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>
