<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Restaurants</title>
  </head>
    <body>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>Restaurants</h1>


    {% for i in restaurantName %}

    <div>

    <p><a href="{{ i.id }}">{{ i.name }}</p>
    
    

    {% endfor %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>

